@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Inter', sans-serif;
}

.card{
    background-color: white;
    border-radius: 1rem;
    padding: 1.2rem;
}


.clip-half-circle {
    clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100%);
  }